@import "src/app/styles/base.scss";

.tip {
    font-family: $font-inter-medium-500;
    font-size: 12px;
    width: 100%;
    background-color: $color-primary;
    border-radius: 0;
    z-index: 200;
}
