$color-border: #f4f5f6;
$color-white: #fcfcfd;
$color-error: #ef466f;
$color-yellow: #ffc700;
$color-brown: #763d16;

// New colors
$color-grey: #6e788c;
$color-grey-two: #f4f5f6;
$color-grey-50p: rgba(110, 120, 140, 0.5);
$color-grey-light: #f7f8f9;

$color-accent: #ff4650;
$color-blue: #3d83f3;
$color-blue-light: #63d3fd;

$color-primary: #23375a;
$color-primary-light: #eaf9ff;

$color-upload-file-grey: #f4f5f6;
$color-upload-file-grey-hover: #e0e1e2;
$color-select-grey: #23262f;
$color-label-grey: #b1b5c3;

$color-green: #45b26b;
$color-green-alert: #3cd399;
$color-btn-green: #60cd5e;
$color-btn-green-hover: #57b355;
$color-btn-green-active: #6ace68;
$color-bgr-modal: rgba(0, 0, 0, 0.8);
