.web3modal-modal-lightbox {
    z-index: 25 !important;
}

.walletconnect-modal__base {
    max-width: 450px !important;
    width: 45vw !important;
}

.web3modal-modal-card {
    border-radius: 0 !important;
}

.web3modal-provider-container {
    border-radius: 0 !important;
}
